@{
    ViewBag.Title = "Poll Info";
    Layout = "~/Views/Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/PollInfo.js"></script>
}


@section MainContent
{
    <div>
        Poll started by user <span data-bind="text: Owner.Name"></span>. Due date is <span data-bind="text: ExpirationDate"></span>
    </div>

    <br/>

    <div id="scrollContainer">
        <table data-bind="foreach: movies">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Url"></td>
                <td data-bind="text: Votes"></td>
            </tr>
        </table>
    </div>
    
}