@{
    ViewBag.Title = "Poll Info";
    Layout = "~/Views/Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/PollInfo.js"></script>
}


@section MainContent
{
    <div id="mainView">
        <div>
            Poll <span class="pollData" data-bind="text: Name"></span> started by user <span class="pollData" data-bind="text: Owner.Name"></span>. Due date is <span class="pollData" data-bind="    text: ExpirationDate"></span>
        </div>

        <br/>

        <div id="scrollContainer">
            <table data-bind="foreach: Candidates">
                <tr>
                    <td data-bind="text: Movie.Name"></td>
                    <td data-bind="text: Movie.Url"></td>
                    <td><a href="#" data-bind="click: $parent.showVoters, text: Voters().length"></a></td>
                </tr>
            </table>
        </div>
    </div>
    
    <div id="voters">
        <table data-bind="foreach: Voters">
            <tr>
                <td data-bind="text: Name"></td>
            </tr>
        </table>
    </div>
    
}