@{
    ViewBag.Title = "Poll Info";
    Layout = "~/Views/Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/PollInfo.js"></script>
}


@section MainContent
{
    <div id="mainView" class="displayNone">

        <h3><span class="pollData" data-bind="text: Poll.Name"></span></h3>
        <ul class="list-unstyled">
            <li>started by user <span class="pollData" data-bind="text: Poll.OwnerName"></span></li>
            <li>due date is <span class="pollData" data-bind="text: Poll.ExpirationDate.ui"></span></li>
        </ul>


        <br/>

        <div id="scrollContainer">
            <table data-bind="foreach: Movies">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Url"></td>
                    <td>
                        <span data-bind="click: $parent.showVoters, text: Voters().length"></span> 
                        <div class="glyphicon glyphicon-user tooltipVoters">
                            <div class="classic">
                                Voters:
                                <ul data-bind="foreach: Voters">
                                    <li data-bind="text: $data"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div style="margin-top: 10px">
        Want to vote? You are welcome!<br/>
        @Html.ActionLink("Go to movie list", "List", "Movie", new { controller = "Movie" }, new {@class="btn btn-info"})
    </div>

    <div id="noPoll" class="displayNone">
        Sorry, but no poll is available now. You can start @Html.ActionLink("new poll", "Add", "Poll")
    </div>
}