@{
    Layout = "~/Views/Layout.cshtml";
    ViewBag.Title = "Movies";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/MovieList.js"></script>
}

@section MainContent
{
    <div id="scrollContainer">
        <table data-bind="foreach: movies">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Url"></td>
                <td><button id="buttonEdit" data-bind="click: $parent.edit">Edit</button></td>
                <td><button id="buttonDelete" data-bind="click: $parent.deleteMovie">Delete</button></td>
                <td data-bind="visible: $parent.isActivePoll">
                    <button data-bind="visible: !IsVoted(), disable: IsVoting, click: $parent.vote">Vote!</button>
                    <button data-bind="visible: IsVoted(), disable: IsVoting, click: $parent.unvote">Unvote!</button>
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td><button id="buttonEdit" data-bind="click: $parent.edit">Edit</button></td>
                    <td><button id="buttonDelete" data-bind="click: $parent.deleteMovie">Delete</button></td>
                }
            </tr>
        </table>
        <button id="buttonShowMore" data-bind="click: loadMore">More...</button>
        @if (User.Identity.IsAuthenticated)
        {
            <button id="buttonAdd" data-bind="click: openPopup">Add</button>
        }
    </div>
    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="holder" id="saveDialog">     
            <div id="popup" class="popup">            
                <div class="content">
                    Name*: <input type="text" id="txtName" data-bind="value: currentMovie().Name"/><label id="lblNameError" style="display: none; color: red;">Name is required</label><br/>
                    URL: <input type="text" id="txtUrl" data-bind="value: currentMovie().Url"/><label id="lblUrlError" style="display: none; color: red;">Url should be correct</label><br/>
                    <button id="buttonCommit" data-bind="click: save">Save</button>
                    <button id="buttonCancel" data-bind="click: cancelDialog">Cancel</button>
                </div>
            </div>
        </div>
    }
}