@{
    Layout = "~/Views/Layout.cshtml";
    ViewBag.Title = "Movies";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/MovieList.js"></script>
}

@section MainContent
{
    <table data-bind="foreach: movies">
        <tr>
            <td data-bind="text: Name"></td>
            <td data-bind="text: Url"></td>
        </tr>
    </table>

    <button id="test">click</button>
}