@{
    Layout = "~/Views/Layout.cshtml";
    ViewBag.Title = "Movies";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/Poll.js"></script>
    <script type="text/javascript" src="~/Scripts/MovieList.js"></script>
    <script type="text/javascript" src="~/Scripts/PollInfo.js"></script>
}

@section MainContent
{
    <div>
        <div class="well well-lg">
            <span id="pollSummary">
                <span data-bind="visible: Id() && IsVoteable()">
                    Poll
                    <span data-bind="text: Name, visible: Id" class="label label-success"></span>
                    is going!
                    <span data-bind="visible: IsMine">
                        (You can <a href="JavaScript:void(0)" data-bind="click: edit">edit it</a>)
                    </span>
                    Try voting.
                    <span data-bind="visible: ExpirationDate.ui">
                        We vote untill <span data-bind="text: ExpirationDate.ui"></span>
                    </span>
                    <span data-bind="visible: ExpirationDate.ui() && ViewDate.ui()">and</span>
                    <span data-bind="visible: ViewDate.ui">
                        watch movie at <span data-bind="text: ViewDate.ui"></span>
                    </span>
                </span>
                <span data-bind="visible: Id() && !IsVoteable()">
                    Poll <span data-bind="text: Name"></span>
                    <span data-bind="visible: IsMine">
                        (You can <a href="JavaScript:void(0)" data-bind="click: edit">edit it</a>)
                    </span>
                    has finished.
                    <span data-bind="visible: Winner">
                        We will watch <span data-bind="text: Winner() && Winner().Name"></span>
                        <span data-bind="visible: ViewDate.ui">at <span data-bind="text: ViewDate.ui"></span>.</span>
                        <span data-bind="visible: !ViewDate.ui()">one time.</span>
                    </span>
                    <span data-bind="visible: !Winner()">
                        No votes :(
                    </span>
                </span>
                <span data-bind="visible: !Id()">
                    No poll right now.
                    @if (User.Identity.IsAuthenticated)
                    {<text>
                            You can <a href="JavaScript:void(0)" data-bind="click: edit">add one</a>.
                        </text>}
                </span>
            </span>
            @if (User.Identity.IsAuthenticated)
            {
                <button data-bind="click: openPopup" id="addMovie" class="btn btn-success pull-right">Add Movie</button>
            }
        </div>
        <div id="scrollContainer" class="row col-md-9" data-bind="foreach: movies">
            <div class="col-md-4 movie">
                <div class="thumbnail text-center">
                    <a data-bind="attr: { href: Url }" target="_blank"><img data-bind="attr: { src: ImageUrl }" width="150px" height="210px" /></a>
                    <div class="caption">
                        <p class="name">
                            <a data-bind="text: Name, attr: { href: Url }" target="_blank"></a>
                        </p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="movie-toolbar-left" data-bind="visible: IsOwner">
                                <button type="button" class="btn btn-default btn-xs" title="Edit"
                                        data-bind="click: $parent.edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" title="Delete"
                                        data-bind="click: $parent.deleteMovie">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <div class="movie-toolbar-right" data-bind="visible: $parent.poll.IsVoteable">
                                <button type="button" class="btn btn-default btn-xs" title="Vote"
                                        data-bind="visible: !IsVoted(), disable: IsVoting, click: $parent.vote">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" title="Unvote"
                                        data-bind="visible: IsVoted(), disable: IsVoting, click: $parent.unvote">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="votesContainer" class="col-md-3">
            Ratings:
            <table id="ratedMovies" data-bind="foreach: Movies" style="display: none;">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td style="white-space: nowrap;">
                        <span data-bind="text: Voters.length"></span>&nbsp;
                        <div class="glyphicon glyphicon-user tooltipVoters">
                            <div class="classic">
                                Voters:
                                <ul data-bind="foreach: Voters">
                                    <li data-bind="text: $data"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="noMovies" style="display: none;">No votes yet</div>
        </div>
    </div>

    <div style="clear: both"></div>
    
    <div class="text-center" style="margin-top: 20px">
        <button id="loadMoreButton" type="button" data-loading-text="Loading..." data-bind="click: loadMore" class="btn btn-primary">
            More...
        </button>
    </div>

    
    
    @if (User.Identity.IsAuthenticated)
    {
        <div id="saveDialog">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="txtName" class="col-lg-2 control-label">Name*</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="txtName"
                               data-bind="value: currentMovie.Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtUrl" class="col-lg-2 control-label">URL*</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="txtUrl"
                               data-bind="value: currentMovie.Url"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtImageUrl" class="col-lg-2 control-label">Image URL*</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="txtImageUrl"
                               data-bind="value: currentMovie.ImageUrl"/>
                        <span class="help-block">Image will be stretched to 150x210 px</span>
                    </div>
                </div>
                <button data-bind="click: save" class="btn btn-default">Save</button>
                <button data-bind="click: cancelDialog" class="btn btn-default">Cancel</button>
            </form>
        </div>
        <div id="editPollContainer" style="display: none">
            <label>
                Name:
                <input type="text" data-bind="value: Name" />
            </label>
            <label>
                Poll will be closed at:
                <input type="text" data-bind="value: ExpirationDate.ui, dateTimePicker: true" />
            </label>
            <label>
                We watch movie at:
                <input type="text" data-format="date" data-bind="value: ViewDate.ui, dateTimePicker: true" />
            </label>

            <button data-bind="click: save">Save</button>
            <button data-bind="click: cancel, visible: Id">Delete</button>
        </div>
    }
}