@{
    Layout = "~/Views/Layout.cshtml";
    ViewBag.Title = "Movies";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/MovieList.js"></script>
}

@section MainContent
{
    <button id="test"></button>
}