.holder{        
    width:100%;
    display:none;
}
.content{
    background:#fff;
    padding: 28px 26px 33px 25px;
}
.popup{
    border-radius: 7px;
    background:#6b6a63;
    margin:30px auto 0;
    padding:6px;  
    position:absolute;
    width:600px;
    top: 50%;
    left: 50%;
    margin-left: -300px; 
    margin-top: -40px; 
}
.pollData {
    font-weight: bold;
}

.displayNone {
    display: none;
}

.movie-toolbar-left{
    bottom: 5px;
    left: 22px;
    position: absolute;
}

.movie-toolbar-right{
    bottom: 5px;
    right: 22px;
    position: absolute;
}

.movie .name {
    height: 50px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

