.holder{        
    width:100%;
    display:none;
}
.content{
    background:#fff;
    padding: 28px 26px 33px 25px;
}
.popup{
    border-radius: 7px;
    background:#6b6a63;
    margin:30px auto 0;
    padding:6px;  
    position:absolute;
    width:600px;
    top: 50%;
    left: 50%;
    margin-left: -300px; 
    margin-top: -40px; 
}
.pollData {
    font-weight: bold;
}

.displayNone {
    display: none;
}

.movie-toolbar-left{
    bottom: 5px;
    left: 22px;
    position: absolute;
}

.movie-toolbar-right{
    bottom: 5px;
    right: 22px;
    position: absolute;
}

.movie .name {
    height: 50px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.tooltipVoters {
    outline: none;
    cursor: help;
    text-decoration: none;
    position: relative;
}
.tooltipVoters .classic {
    margin-left: -999em;
    position: absolute;
}

.tooltipVoters:hover .classic {
   font-family: Calibri, Tahoma, Geneva, sans-serif;
   position: absolute;
   left: -250px;
   top: 2em;
   z-index: 99;
   margin-left: 0;
   width: 250px;
   border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.classic { 
    padding: 0.8em 1em; 
    background: #FFFFAA; 
    border: 1px solid #FFAD33;
    padding-left: 30px;
}

.error {
    color: red;
}

.authError {
    background: #FFCCAA;
    border: 1px solid #FF3334;
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -300px;
    padding-top: 38px;
    text-align:center
}

.error .ui-widget-header {
    background:  #ff0000 url(../Scripts/JQueryUI/css/redmond/images/ui-bg_highlight-soft_75_ff0000_1x100.png) 50% 50% repeat-x;
    border: #a6040c;
}

.error .ui-widget-header button {
    border: #a6040c;
}

.error.ui-dialog {
    border: #a6040c;
}

/*Reset style of JQuery UI drop down item to default*/
.ui-override-unselectable a {
    display: inline !important;
    background: inherit !important;
    border: inherit !important;
    color: inherit !important;
    margin: auto !important;
    padding: inherit !important;
}

.ui-override-unselectable a:hover {
    color: inherit !important;
    margin: auto !important;
    padding: inherit !important;
}

.poweredByTmdb {
    font-size: 11px;
    margin-top: 5px;
}

.poweredByTmdb a{
    font-size: 9px;
    margin-top: 5px;
    color: #428BCA;
}

.help-block {
    font-size: 12px;
    margin-bottom: 0 !important;
}

.red {
    color: red !important;
}

.overflow-hidden {
    overflow: hidden !important;
}